.container{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.bg-light{
    background-color: #474d5c!important;
}
.navbar-brand{
    margin-right: 0;
}
.dropdown-toggle::after{
    margin-left: 5.255em;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.tr:nth-child(even) {
    background-color: #dddddd;
  }
.btn-trash{
    border: 5px;
    background-color: rgb(243, 62, 62);
    border-radius: 5px;
}
.btn-pencil{
    border: 5px;
    background-color: rgb(62, 74, 243);
    border-radius: 5px;
}
.h2{
    background-color: cornflowerblue;
}
.nav-link{
    color: #dddddd;
}
.search{
    display: flex;
    margin-right: 100%;
    border-radius: 5px;
}
.btn-create{
    float: right;
    margin-right: 100px;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.table-responsive{
    box-sizing: border-box;
}
.container{
    background-color: white;
    width: 700px;
    height: auto;
    position: relative;
    top: 50%;
    margin-top: 100px;
}
.modal2{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal__inner{
    width: 700px;
    position: relative;
    top: 20%;
    margin-left: 100px;
    background: white;
    animation: modalShow 0.2s linear;
}
.modal__header{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    background: rgb(118, 118, 252);
    color: aliceblue;
}
.modal__body{
    padding: 15px;
}

.modal__footer button{
    padding: 10px 20px;
    color: white;
    margin-right: 5px;
}
.hide{
    display: none;
}
@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 20%;
        opacity: 1;
    }
}
.modal__footer{
    display: flex;
    padding: 15px;
    padding-left: 50%;
}
.btn_add{
    border-radius: 5px;
    background-color: rgb(134, 198, 250);
    border: none;
}
.btn_update{
    border-radius: 5px;
    background-color: coral;
    border: none;
}
.btn_clear{
    border-radius: 5px;
    background-color: #dddddd;
    border: none;
}
.btn_close{
    border-radius: 5px;
    background-color: skyblue;
    border: none;
}
.error{
    color: crimson;
}
.btn_search{
    /* margin-left: 100%; */
}